	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  /* font-family: Flaticon;
  font-style: normal;
  margin-left: 20px;
  font-size: 23px;
  color: #ffffff; */
}


/*Afghanistan - AFN*/.flaticon-AFG:before { content: "\f100"; }
/*Albania - ALL*/.flaticon-ALL:before { content: "\f101"; }
/*Algeria - DZD*/.flaticon-DZD:before { content: "\f144"; }
/*Anguilla - XCD*/.flaticon-XCD:before { content: "\f115"; }
/*Argentina - ARS*/.flaticon-ARS:before { content: "\f13c"; }
/*Armenia - AMD*/.flaticon-AMD:before { content: "\f113"; }
/*Aruba - AWG*/.flaticon-AWG:before { content: "\f102"; }
/*Australia - AUD*/.flaticon-AUD:before { content: "\f112"; }
/*Austria - EUR*/.flaticon-EUR:before { content: "\f11c"; }
/*Azerbaijan - AZN*/.flaticon-AZN:before { content: "\f103"; }
/*Bahamas - BSD*/.flaticon-BSD:before { content: "\f115"; }
/*Bahrain - BHD*/.flaticon-BHD:before { content: "\f115"; }
/*Bangladesh - BDT*/.flaticon-:before { content: ""; } /*?*/
/*Barbados - BBD*/.flaticon-BBD:before { content: "\f115"; }
/*Belize - BZD*/.flaticon-BZD:before { content: "\f105"; }
/*Benin - XOF*/.flaticon-:before { content: ""; } /*?*/
/*Bermuda - BMD*/.flaticon-:before { content: ""; } /*?*/
/*Bhutan - BTN*/.flaticon-:before { content: ""; } /*?*/
/*Bolivia - BOB*/.flaticon-BOB:before { content: "\f106"; }
/*Bosnia and Herzegowina - BAM*/.flaticon-BAM:before { content: "\f107"; }
/*Botswana - BWP*/.flaticon-BWP:before { content: "\f108"; }
/*Brazil - BRL*/.flaticon-BRL:before { content: "\f109"; }
/*Britain - pound*/.flaticon-GBP:before { content: "\f13e"; }
/*British Indian Ocean Territory - USD*/.flaticon-:before { content: ""; } /*?*/
/*British Virgin Islands - USD*/.flaticon-:before { content: ""; } /*?*/
/*Brunei Darussalam - BND*/.flaticon-:before { content: ""; } /*?*/
/*Bulgaria - BGN*/.flaticon-BGN:before { content: "\f10a"; }
/*Burkina Faso - XOF*/.flaticon-:before { content: ""; } /*?*/
/*Burundi - BIF*/.flaticon-:before { content: ""; } /*?*/
/*Cambodia - KHR*/.flaticon-KHR:before { content: "\f10b"; }
/*Cameroon - XAF*/.flaticon-:before { content: ""; } /*?*/
/*Canada - CAD*/.flaticon-CAD:before { content: "\f115"; }
/*Cape Verde - CVE*/.flaticon-:before { content: ""; } /*?*/
/*Cayman Islands - KYD*/.flaticon-KYD:before { content: "\f115"; } /*?*/
/*Central African Republic - XAF*/.flaticon-:before { content: ""; } /*?*/
/*Chad - XAF*/.flaticon-:before { content: ""; } /*?*/
/*Chile - CLP*/.flaticon-:before { content: ""; } /*?*/
/*china - yen*/.flaticon-CNY:before { content: "\f157"; }
/*Christmas Island - AUD*/.flaticon-AUD:before { content: "\f115"; } /*?*/
/*Cocos (Keeling) Islands - AUD*/.flaticon-AUD:before { content: "\f115"; } /*?*/
/*Colombia - COP*/.flaticon-:before { content: ""; } /*?*/
/*Comoros - KMF*/.flaticon-:before { content: ""; } /*?*/
/*Congo (Brazzaville) - XAF*/.flaticon-:before { content: ""; } /*?*/
/*Congo, the Democratic - CDF*/.flaticon-:before { content: ""; } /*?*/
/*Cook Islands - NZD*/.flaticon-NZD:before { content: "\f115"; } /*?*/
/*Costa Rica - CRC*/.flaticon-CRC:before { content: "\f10c"; }
/*Cote d'Ivoire - XOF*/.flaticon-:before { content: ""; } /*?*/
/*Croatia (Hrvatska) - HRK*/.flaticon-HRK:before { content: "\f10d"; }
/*cuba - peso*/.flaticon-cuba-peso-currency-symbol:before { content: "\f10e"; }
/*czech - koruna*/.flaticon-CZK:before { content: "\f10f"; }
/*denmark - krone*/.flaticon-DKK:before { content: "\f110"; }
/*Djibouti - DJF*/.flaticon-:before { content: ""; } /*?*/
.flaticon-USD0:before { content: "\f111"; }
.flaticon-USD1:before { content: "\f112"; }
.flaticon-USD2:before { content: "\f113"; }
.flaticon-USD3:before { content: "\f114"; }
/*USA - dollar*/.flaticon-USD:before { content: "\f115"; }
.flaticon-USD5:before { content: "\f116"; }
.flaticon-USD6:before { content: "\f117"; }
.flaticon-USD7:before { content: "\f118"; }
.flaticon-USD8:before { content: "\f119"; }
/*dominican - Peso*/.flaticon-DOP:before { content: "\f11a"; }
/*Euro - Euro*/.flaticon-EUR:before { content: "\f11c"; }
/*Egypt - EGP*/.flaticon-:before { content: ""; } /*?*/
/*Eritrea - ERN*/.flaticon-:before { content: ""; } /*?*/
/*Ethiopia - ETB*/.flaticon-:before { content: ""; } /*?*/
/*Falkland Islands(M) - FKP*/.flaticon-:before { content: ""; } /*?*/
/*Faroe Islands - DKK */.flaticon-:before { content: ""; } /*?*/
/*Fiji - FJD*/.flaticon-FJD:before { content: "\f115"; }
/*French Polynesia - XPF*/.flaticon-:before { content: ""; } /*?*/
/*Gambia - GMD*/.flaticon-:before { content: ""; } /*?*/
/*Georgia - GEL*/.flaticon-:before { content: ""; } /*?*/
/*ghana - cedis*/.flaticon-GHS-:before { content: "\f11d"; }
/*Gibraltar - GIP*/.flaticon-:before { content: ""; } /*?*/
/*Greenland - DKK*/.flaticon-:before { content: ""; } /*?*/
/*guatemala - quetzal*/.flaticon-GTQ:before { content: "\f11e"; }
/*Guinea (Conakry) - GNF*/.flaticon-:before { content: ""; } /*?*/
/*Guyana - GYD*/.flaticon-GYD:before { content: "\f115"; }
/*Haiti - HTG*/.flaticon-:before { content: ""; } /*?*/
/*honduras - lempira*/.flaticon-HNL:before { content: "\f11f"; }
/*Hong Kong - HKD*/.flaticon-HKD:before { content: "\f114"; }
/*hungary - forint*/.flaticon-HUF:before { content: "\f120"; }
/*iceland - krona*/.flaticon-ISK:before { content: "\f121"; }
/*india - rupee*/.flaticon-INR:before { content: "\f122"; }
/*indonesia - rupiah*/.flaticon-IDR:before { content: "\f123"; }
/*iran - */.flaticon-rial:before { content: "\f124"; }
/*Isle of Man - IMP*/.flaticon-:before { content: ""; } /*?*/
/*Isreal - shekel*/.flaticon-ILS:before { content: "\f125"; }
/*jamaica - dollar*/.flaticon-JMD:before { content: "\f126"; }
/*Japan - JPY*/.flaticon-JPY:before { content: "\f157"; }
/*Jordan - JOD*/.flaticon-:before { content: ""; } /*?*/
/*Jersey - JEP*/.flaticon-:before { content: ""; } /*?*/
/*Kazakhstan KZT*/.flaticon-KZT:before { content: "\f127"; }
/*Kenya - KES*/.flaticon-KES:before { content: "\f146"; } /*?*/
/*Kuwait - KWD*/.flaticon-:before { content: ""; } /*?*/
/*kyrgyzstan - som*/.flaticon-KGS:before { content: "\f128"; }
/*Lao People's Democratic - LAK*/.flaticon-LAK:before { content: "\f129"; }
/*latvia - lat*/.flaticon-EUR:before { content: "\f11c"; }
/*Lebanon - LBP*/.flaticon-:before { content: ""; } /*?*/
/*Lesotho - LSL*/.flaticon-:before { content: ""; } /*?*/
/*Liberia - LRD*/.flaticon-LRD:before { content: "\f114"; }
/*Libya - LYD*/.flaticon-:before { content: ""; } /*?*/
/*lithuania - litas*/.flaticon-EUR:before { content: "\f11c"; }
/*Macau - MOP*/.flaticon-:before { content: ""; } /*?*/
/*macedonia - denar*/.flaticon-MKD:before { content: "\f12c"; }
/*Madagascar - MGA*/.flaticon-:before { content: ""; } /*?*/
/*Malawi - MWK*/.flaticon-:before { content: ""; } /*?*/
/*malaysia - ringgit*/.flaticon-MYR:before { content: "\f12d"; }
/*Maldives - MVR*/.flaticon-:before { content: ""; } /*?*/
/*Mauritania - MRO*/.flaticon-:before { content: ""; } /*?*/
/*mauritius - rupee*/.flaticon-MUR:before { content: "\f12e"; }
/*Mexico - MXN*/.flaticon-MXN:before { content: "\f109"; } /*?*/
/*Moldova - MDL*/.flaticon-:before { content: ""; } /*?*/
/*mongolia - tughrik*/.flaticon-MNT:before { content: "\f12f"; }
/*Morocco - MAD*/.flaticon-:before { content: ""; } /*?*/
/*mozambique - metical*/.flaticon-MZN:before { content: "\f130"; }
/*Myanmar - MMK*/.flaticon-:before { content: ""; } /*?*/
/*Namibia - NAD*/.flaticon-:before { content: ""; } /*?*/
/*nepal - rupee*/.flaticon-NPR:before { content: "\f131"; }
/*netherlands - antilles-guilde*/.flaticon-EUR:before { content: "\f11c"; }
/*nicaragua - cordoba*/.flaticon-NIO:before { content: "\f133"; }
/*nigeria - naira*/.flaticon-NGN:before { content: "\f134"; }
/* .flaticon-north-korea-won:before { content: "\f135"; } */
/*Norway - NOK*/.flaticon-NOK:before { content: "\f136"; }
/*oman - rial*/.flaticon-OMR:before { content: "\f137"; }
/*pakistan - rupee*/.flaticon-PKR:before { content: "\f138"; }
/*panama - balboa*/.flaticon-PAB:before { content: "\f139"; }
/*Papua New Guinea - PGK*/.flaticon-:before { content: ""; } /*?*/
/*paraguay - guarani*/.flaticon-PYG:before { content: "\f13a"; }
/*peru - nuevo*/.flaticon-PEN:before { content: "\f13b"; }
/*philippines - peso*/.flaticon-PHP:before { content: "\f13c"; }
/*poland - zloty*/.flaticon-PLN:before { content: "\f13d"; }
/*qatar - riyal*/.flaticon-QAR:before { content: "\f13f"; }
/*romania - lei*/.flaticon-RON:before { content: "\f140"; }
/*.flaticon-rounded-dollar-symbol:before { content: "\f141"; }*/
/*russia - ruble*/.flaticon-RUB:before { content: "\f142"; }
/*Rwanda - RWF*/.flaticon-:before { content: ""; } /*?*/
/*saudi - riyal*/.flaticon-SAR:before { content: "\f143"; }
/*.flaticon-serbia-dinar-currency-symbol:before { content: "\f144"; }*/
/*seychelles - rupee*/.flaticon-SCR:before { content: "\f145"; }
/*Sierra Leone - SLL*/.flaticon-:before { content: ""; } /*?*/
/*Singapore - SGD*/.flaticon-SGD:before { content: "\f114"; }
/*Sint Maarten (Dutch part) - ANG*/.flaticon-:before { content: ""; } /*?*/
/*Solomon Islands - SBD*/.flaticon-SBD:before { content: "\f114"; }
/*.flaticon-somalia-shilling:before { content: "\f146"; }*/
/*southAfrica - rand*/.flaticon-ZAR:before { content: "\f147"; }
/*southKorea - won*/.flaticon-KRW:before { content: "\f148"; }
/*South Sudan - SSP*/.flaticon-:before { content: ""; } /*?*/
/*srilanka - rupee*/.flaticon-LKR:before { content: "\f149"; }
/*St. Helena - SHP*/.flaticon-:before { content: ""; } /*?*/
/*St. Tome and Principe - STD*/.flaticon-STD:before { content: "\f114"; }
/*Sudan - SDG*/.flaticon-:before { content: ""; } /*?*/
/*Suriname - SRD*/.flaticon-:before { content: ""; } /*?*/
/*Swaziland - SZL*/.flaticon-:before { content: ""; } /*?*/
/*sweden - krona*/.flaticon-SEK:before { content: "\f14a"; }
/*switzerland - franc*/.flaticon-CHF:before { content: "\f14b"; }
/*Syrian Arab Republic - SYP*/.flaticon-:before { content: ""; } /*?*/
/*taiwan - new-dollar*/.flaticon-TWD:before { content: "\f14c"; }
/*Tajikistan - TJS*/.flaticon-:before { content: ""; } /*?*/
/*Tanzania - TZS*/.flaticon-:before { content: ""; } /*?*/
/*thailand - baht*/.flaticon-THB:before { content: "\f14d"; }
/*Tonga - TOP*/.flaticon-:before { content: ""; } /*?*/
/*trinidad - dollar*/.flaticon-TTD:before { content: "\f14e"; }
/*Tunisia - TND*/.flaticon-:before { content: ""; } /*?*/
/*turkey - lira*/.flaticon-TRY:before { content: "\f14f"; }
/*turkey - lira*/.flaticon-TRY-2:before { content: "\f150"; }
/*Turkmenistan - TMT*/.flaticon-:before { content: ""; } /*?*/
/*Uganda - UGX*/.flaticon-:before { content: ""; } /*?*/
/*ukraine - hryvna*/.flaticon-UAH:before { content: "\f151"; }
/*United Arab Emirates - AED*/.flaticon-:before { content: ""; } /*?*/
/*uruguay - peso*/.flaticon-UYU:before { content: "\f152"; }
/*uzbekistan - som*/.flaticon-UZS:before { content: "\f153"; }
/*Vanuatu - VUV*/.flaticon-:before { content: ""; } /*?*/
/*venezuela - bolivar*/.flaticon-VEF:before { content: "\f154"; }
/*vietnam - dong*/.flaticon-VND:before { content: "\f155"; }
/*Western Samoa - WST*/.flaticon-:before { content: ""; } /*?*/
/*Yemen - YER*/.flaticon-YER:before { content: "\f156"; }
/*Zambia - ZMK*/.flaticon-:before { content: ""; } /*?*/
/*zimbabwe - dollar*/.flaticon-ZMW:before { content: "\f158"; }